@model MantenimientoVehiculos.Web.Data.Entities.VehicleEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleBrand.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleBrand.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleStatus.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleStatus.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fuel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fuel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotorSerial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotorSerial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chassis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chassis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cylinder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cylinder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDateLocal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDateLocal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
