@model MantenimientoVehiculos.Web.Data.Entities.VehicleEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleBrand.VehicleBrand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleBrand.VehicleBrand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.VehicleType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleType.VehicleType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleStatus.VehicleStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleStatus.VehicleStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fuel.Fuel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fuel.Fuel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plaque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plaque)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotorSerial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotorSerial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chassis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chassis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cylinder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cylinder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDateLocal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModificationDateLocal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
