@model MantenimientoVehiculos.Web.Data.Entities.VehicleMaintenanceEntity

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VehicleMaintenanceEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KmHrMaintenance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KmHrMaintenance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
